<!DOCTYPE HTML>

<html>
	<head>
		<title>Kayode J. Ijalana</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/jk.png" alt="" /></span>
							<h1>Kayode J. Ijalana</h1>
							<p>Software Engineer</p>
						</header>

						<footer>
							<ul class="icons">

								<li><a href="https://www.linkedin.com/in/kayodeijalana/"  target="_blank" rel="noopener noreferrer" class="fa-linkedin">LinkedIn</a></li>
								<li><a href="https://github.com/kayija" target="_blank" rel="noopener noreferrer" class="fa-github">GitHub</a></li>
								<li><a href="mailto:kayodeijalana@gmail.com"  class="fa fa-google">Gmail</a></li>
								<li><a href="tel:+13054965060"  class="fa-phone">Phone</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Kayode J. Ijalana</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="static/assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>